* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  max-width: 500px;
  margin: 0 auto;
  font-size: 16px;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 2rem;;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 300px;
}

.item {
  min-width: 200px;
  max-width: 500px;
  display: flex ;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.new-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem 0;
  column-gap: 1em;
  border-top: 1px solid black;
}

button {
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  min-width: 5rem;
}

input {
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 4px;
}